.sgn_button {
    display: inline-block;
    border-width: 0px;
    color: white;
    background-color: #282828;
    padding: 10px 20px;
    font-family: "Roboto","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
  }
  
  .sgn_button:hover {
    background-color: #404040;
  }
  

.userButton{
  background-color: transparent;
  border-width: 0px;
}

.userImg{
  width: 40px;
  height: 100%;
  border-radius: 100%;
}

.userList{
  width: 200px;
  background-color: #282828;
  border-radius: 20px;
  color: white;
  position:absolute;
  top: 2%;
  right: 5%;
  height: 200px;
}

.firstSection{
  display: flex;
  padding: 10px;
}
.firstSectionRight{
  margin-left: 5%;
}